:root {
    scroll-behavior: smooth;
}

.modal-window-content,
.popover-content,
.submit-container input:disabled,
.question,
.submit-container input,
.submit-container a,
input[type=number],
input[type=email],
input[type=password],
input[type=text],
.contact textarea,
.contact input[type=text],
img,
.container {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
}

#modal-left,
#modal-right,
.close {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#clockText {
    color: #aaa;
    float: left;
    background-color: transparent;
    margin: 0.5rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    -webkit-transition: color 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: color 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: color 0.4s ease-out, transform 0.4s ease-out;
    transition: color 0.4s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

#clockText:hover {
    color: #f58e78;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: color 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: color 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: color 0.4s ease-out, transform 0.4s ease-out;
    transition: color 0.4s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

#clockText div {
    color: inherit;
}

body {
    background-color: #262a2e !important;
    background-size: cover !important;
    background: url(https://i.imgur.com/DmJduiG.png) no-repeat fixed center 0;
}

div,
section {
    color: #f58e78;
    font-family: "Rubik", sans-serif !important;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: auto;
    list-style-type: none;
}

nav ul li {
    font-size: 1.2em !important;
    float: left;
    color: #f58e78;
    border-radius: 10px;
    -webkit-transition: background-color 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: background-color 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: background-color 0.4s ease-out, transform 0.4s ease-out;
    transition: background-color 0.4s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
    z-index: 100;
}

nav ul li:hover {
    background-color: #2b3034;
    color: #EFE9F4;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

nav ul li a {
    height: 100%;
    color: #f58e78;
    text-decoration: none;
    text-align: center;
    padding: 14px;
    padding-left: 0;
    display: inline-block;
    font-family: "Rubik", sans-serif !important;
    z-index: 100;
}

nav img {
    margin: 1px;
    margin-left: 7px;
    margin-bottom: -14px;
    display: inline-block;
}

.col>img {
    cursor: pointer;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.col>img:hover {
    opacity: 0.7;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.container {
    margin-bottom: 30px;
    max-width: 1500px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    background-color: #2b3034;
    color: #aaa;
}

.container ul {
    margin: auto;
    list-style-type: none;
}

.container ul li {
    -webkit-transform-origin: left;
    transform-origin: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.container ul li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container ul li a {
    text-align: start;
    font-size: 1.4em;
    text-decoration: none;
    color: #f58e78;
    -webkit-transition: background-color 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: background-color 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: background-color 0.4s ease-out, transform 0.4s ease-out;
    transition: background-color 0.4s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.container ul li a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #262a2e;
    color: #858b92;
}

.centered {
    text-align: center;
}

h1 {
    font-size: 1.5em;
    color: #f58e78;
}

h2 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
}

img {
    border-color: #262a2e;
    border-width: 2px;
    border-style: solid;
}

section {
    margin-bottom: 30px;
    padding-top: 10px;
    padding: 20px;
    color: #aaa;
}

.inline {
    display: inline;
}

table {
    width: 100%;
    border: 1px solid #aaa;
}

table tr:hover {
    color: #f58e78;
    background-color: #262a2e;
}

table tr th,
table tr td {
    border: 1px solid #aaa;
}

table tr td {
    min-width: 5px;
    text-align: center;
    padding: 5px;
}

table tr th {
    min-width: 5px;
    text-align: center;
    padding: 5px;
    color: #f58e78;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 31%;
    margin: auto;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact {
    max-width: 400px;
    margin: auto;
    height: 100%;
    color: #f58e78;
}

.contact input[type=text] {
    width: 100%;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-style: none;
}

.contact textarea {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    padding-left: 5px;
    border-style: none;
}

input[type=number],
input[type=password],
input[type=email],
input[type=text] {
    width: 100%;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-style: none;
}

.gender-select input {
    width: 5%;
    margin-bottom: 1rem;
}

.submit-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.submit-container input,
.submit-container a {
    width: 45%;
    height: 2em;
    text-align: center;
    background-color: #f58e78;
    color: #262a2e;
    border: none;
    cursor: pointer;
}

.submit-container input:hover,
.submit-container a:hover {
    background-color: #262a2e;
    color: #aaa;
}

.question {
    margin: 1rem;
    padding: 1rem;
    padding-top: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
}

.question .answers {
    padding: 0.5rem;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    visibility: collapse;
    opacity: 0;
    position: absolute;
    border-color: #262a2e;
    background-color: #2b3034;
    border-width: 2px;
    border-style: solid;
    min-width: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    -webkit-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: visibility 0s, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: visibility 0s, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: visibility 0s, opacity 0.2s ease-out, transform 0.2s ease-out;
    transition: visibility 0s, opacity 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.dropdown-content a {
    color: #f58e78;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content>li {
    float: none;
    border-radius: 0;
}

.dropdown-content>li:hover {
    background-color: #262a2e;
    -webkit-transform: initial;
    transform: initial;
}

.show {
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

input.calendar-field {
    width: 6rem;
}

.month-selector {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
}

.dropdown-content.calendar-field {
    min-width: 0;
    padding: 0.3rem;
}

.calendar-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 12rem;
}

.calendar-cell-empty>h4 {
    margin: 0;
    color: inherit;
}

.calendar-cell {
    text-align: center;
    margin: 0.2rem;
    display: inline-block;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 0.9rem;
    min-width: calc((100% - ((0.2rem + 1px) * 14))/7);
    color: #aaa;
    cursor: pointer;
}

.calendar-cell>h4 {
    margin: 0;
    color: inherit;
}

.calendar-cell:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #262a2e;
    color: #f58e78;
}

.calendar-cell-empty {
    text-align: center;
    margin: 0.2rem;
    display: inline-block;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 0.8rem;
    min-width: calc((100% - ((0.2rem + 1px) * 14))/7);
    color: #aaa;
}

.calendar-cell:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #262a2e;
    color: #f58e78;
}

.valid-input {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: green !important;
}

.invalid-input {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: red !important;
}

.error-block {
    display: block;
    color: red;
    margin-bottom: 1rem;
}

.submit-container input:disabled {
    background-color: #aaa;
    color: #262a2e;
    border: none;
    cursor: default;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: #f58e78;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #aaa;
    font-size: 5rem;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #f58e78;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#modal-left,
#modal-right {
    position: absolute;
    top: calc(50% - 2.5rem);
    color: #aaa;
    font-size: 5rem;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

#modal-left {
    left: 35px;
}

#modal-right {
    right: 35px;
}

#modal-left:hover,
#modal-right:hover,
#modal-left:focus,
#modal-right:focus {
    color: #f58e78;
    text-decoration: none;
}

.popover-content {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 15rem;
    border-style: solid;
    border-color: #aaa;
    padding: 10px;
    background-color: #262a2e;
    color: #aaa;
}

.popover {
    position: relative;
    left: 110%;
    height: 0;
    display: none;
}

.modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-filter: none !important;
    filter: none !important;
}

.modal-window-content {
    border-style: solid;
    border-color: #262a2e;
    background-color: #2b3034;
    color: #f58e78;
    padding: 2rem;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

.blur-all {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.modal-window-content {
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.blog-text {
    display: inline-block;
    vertical-align: top;
}

.blog-img {
    margin-right: 2rem;
    width: 40%;
}

.blog-text>.text-author {
    font-size: 1.2rem;
}

.blog-text>.text-subject {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.result-date,
.blog-text>.text-date {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-style: italic;
}

.blog-text>.text-content {
    display: inline;
}

.text-container {
    max-width: 50%;
}

.blog {
    max-width: 70%;
}

.pages {
    max-width: 70%;
    margin: auto;
}

.pages>a,
.pages>a:link,
.pages>a:visited,
.pages>a:hover,
.pages>a:active {
    color: #EFE9F4;
    text-decoration: none;
}

.submit-container a {
    text-decoration: none;
    font-size: small;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}